<% flash.each do |type, message| %>
  <% next if message.blank? %>
  <p id="<%= type %>" class="mb-5 py-2 px-3 font-medium rounded-lg inline-block <%= type.to_s == "alert" ? "bg-danger-tint text-danger" : "bg-success-tint text-success" %>">
    <%= message %>
  </p>
<% end %>
